body {
	background-image: url("../images/background/library.jpg");
	background-position: center center;
	background-size: cover;
	background-attachment: fixed;
	background-repeat: no-repeat;
	color: white;
}
#loginform{
	position:absolute;
	top:20%;
	left:5%;
	width:600px;
	height:400px;
	background-image: url("../images/background/background.jpg");
	background-size: cover;
	background-position: center center;
	background-size: cover;
	background-attachment: fixed;
	background-repeat: no-repeat;
}